@page
@model Library.Pages.ActivateAdminModel
@{
}

<head>
    <title>Активирай акаунта си на администратор</title>
</head>

<body>
    <h1 style="text-align:center">Активирай акаунта си на администратор</h1>

    @if (Model.errorMessage.Length > 0)
    {
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
            <strong>@Model.errorMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    }
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                </div>
            </div>
        </div>
    }

    <form method="post" style="margin-bottom:500px;">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Код:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="code" value="" /><br><br>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Имейл:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="email" value='' />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Парола:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" value="" id="myInput" /><br><br>
                <p style="color:red">
                    Паролата трябва да съдържа поне:<br />
                    -една главна и една малка буква на български и латински<br />
                    -една цифра<br />
                    -един специален символ (#,?,!,$,^,&,* или -)<br />
                    -15+ символа дължина
                </p>
                <input type="checkbox" onclick="myFunction()" />Покажи паролата
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Потвърди парола:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="confirmPassword" value="" id="myInput2" /><br><br>
                <input type="checkbox" onclick="myFunction2()" />Покажи паролата
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">АКТИВИРАЙ</button>
            </div>
        </div>

    </form>
</body>